### Declare a float value and store it in a variable.

In [1]:
floatVal = 2.5

### Check the type and print the id of the same.

In [2]:
print(type(floatVal)) # type is float
print(id(floatVal))

<class 'float'>
1981035228432

### Arithmetic Operations on float

### Take two different float values. Store them in two different variables.

In [3]:
num1 = 3.14
num2 = 2.997

### Find sum of both numbers

In [5]:
sum = num1+num2
print(sum)

6.1370000000000005

### Find difference between them

In [6]:
difference = num1-num2
print(difference)

0.14300000000000024

### Find the product of both numbers

In [7]:
product = num1*num2
print(product)

9.41058

### Find value after dividing first num with second number

In [10]:
val = num1/num2
print(val)

1.0477143810477145

### Find the remainder after dividing first number with second number

In [11]:
remainder = num1%num2
print(remainder)

0.14300000000000024

### Find the quotient after dividing first number with second number

In [12]:
quotient = num1/num2
print(quotient)

1.0477143810477145

### Find the result of the first num to the power of the second number.

In [14]:
result = num1**num2
print(result)

30.853053715265204

### Comparison Operators on float

### Take two different float values.Store them in two different variables.

In [15]:
value1 = 66.43
value2 = 89.46

### Greater than, '>'

In [16]:
print(value1>value2)

False

###  Smaller than, '<'

In [18]:
print(value1<value2)

True

###  Greater than or equal to, '>='

In [19]:
print(value1>=value2)

False

###  Less than or equal to, '<='

In [20]:
print(value1<=value2)

True

### Take two different float values. Store them in two different variables.

In [21]:
num3 = 78.98234
num4 = 34.12982

### Equate them using equality operators (==, !=)

In [23]:
print(num3 == num4) 
print(num3 != num4)

False
True

### Logical operators

In [24]:
print(10.20 and 20.30)

20.3

In [25]:
print(0.0 and 20.30)

0.0

In [26]:
print(20.30 and 0.0)

0.0

In [27]:
print(0.0 and 0.0)

0.0

In [28]:
print(10.20 or 20.30)

10.2

In [29]:
print(0.0 or 20.30)

20.3

In [30]:
print(20.30 or 0.0)

20.3

In [31]:
print(0.0 or 0.0)

0.0

In [32]:
print(not 10.20)

False

In [33]:
print(not 0.0)

True

### What is the output of expression inside print statement. Cross check before running the program

In [41]:
a = 10.20
b= 10.20

In [42]:
print(a is b )

False

In [43]:
print(a is not b)

True

### Why the Id of float values are different when the same value is assigned to two different variables
### ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same

In [47]:
print(id(a), id(b))
c=b
print(id(c))
""""In python if two variables which has same value then a new instance of float object will be 
created so the 'is' condition will also results false """

1981035995984 1981035998096
1981035998096

'"In python if two variables which has same value then a new instance of float object will be \ncreated so the \'is\' condition will also results false '

### Membership operation

In [48]:
print('2.7' in 'Python2.7.8')

True

In [49]:
print(10.20 in [10,10.20,10+20j,'Python'])

True

In [50]:
print(10.20 in (10,10.20,10+20j,'Python'))

True

In [51]:
print(20.30 in {1,20.30,30+40j})

True

In [52]:
print(2.3 in {1:100, 2.3:200, 30+40j:300})

True

In [54]:
print(10 in range(20))

True