In [1]:
import pandas as pd

## Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
arr1 = pd.Series([10,20,30,40,50],index = ['a','b','c','d','e'])
print(arr1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

##  Write a Python program to convert a Panda module Series to Python list and its type.

In [8]:
arr2 = arr1.to_list()
print(arr2)
print(type(arr2))

[10, 20, 30, 40, 50]
<class 'list'>

## Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [11]:
arr3 = pd.Series([100,200,300,400],index = ['a','c','d','m'])
# add
sum_arr = arr1 + arr3
print('Addition', sum_arr)
# subtract
sub_arr = arr3 - arr1
print('Subtract',sub_arr)
# multiply
mul_arr = arr1 * arr3
print('Multiplication',mul_arr)
# divide
div_arr = arr3/arr1
print('Division',div_arr)

Addition a    110.0
b      NaN
c    230.0
d    340.0
e      NaN
m      NaN
dtype: float64
Subtract a     90.0
b      NaN
c    170.0
d    260.0
e      NaN
m      NaN
dtype: float64
Multiplication a     1000.0
b        NaN
c     6000.0
d    12000.0
e        NaN
m        NaN
dtype: float64
Division a    10.000000
b          NaN
c     6.666667
d     7.500000
e          NaN
m          NaN
dtype: float64

## Write a Python program to compare the elements of the two Pandas Series.

In [18]:
arr1 = pd.Series([19,20,30,91,42])
arr2 = pd.Series([10,20,30,40,53])
print('Comparing the elements...')
print(arr1 == arr2)

Comparing the elements...
0    False
1     True
2     True
3    False
4    False
dtype: bool

## Write a Python program to display the following data column wise.

In [21]:
data = {'names': ['Jill', 'Carol', 'John'],
       'ids': [101, 102, 103],
       'marks': [90.1, 88.5, 80.2]}
df1 = pd.DataFrame(data)
for column in df1.columns:
    print(f'Column name... {column}')
    print(df1[column])

Column name... names
0     Jill
1    Carol
2     John
Name: names, dtype: object
Column name... ids
0    101
1    102
2    103
Name: ids, dtype: int64
Column name... marks
0    90.1
1    88.5
2    80.2
Name: marks, dtype: float64

## Write a Python program to create and display a Data Frame from a specified dictionary data which has the index labels.

In [27]:
label = [2115,2116,2117]
df2 = pd.DataFrame(data,index = label)
print(df2)

      names  ids  marks
2115   Jill  101   90.1
2116  Carol  102   88.5
2117   John  103   80.2

## Write a Python program to select the specified columns and rows from a given Data Frame.

In [31]:
# select values based on the column specified.

# Fetch name column
df3 = pd.DataFrame(data, index = label)
print(df3['names'])

# Select values based on the rows

# Fetch 2nd row which has carol details
print(df3.loc[2116])

2115     Jill
2116    Carol
2117     John
Name: names, dtype: object
names    Carol
ids        102
marks     88.5
Name: 2116, dtype: object

## Write a Python program to select the rows the score is between  15 and 20 (inclusive).

In [41]:
cricket_score = {'player_name':['Virat Kohli','MS Dhoni','Rohit Sharma','Rishab pant'],
                'score':[19,16,15,10]}
df4 = pd.DataFrame(cricket_score,[18,7,45,17])
print(df4[(df4.score >15) & (df4.score <20)])

    player_name  score
18  Virat Kohli     19
7      MS Dhoni     16

## Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15

In [44]:
exam_data = {'name':['Rob','Jill','Carol','John','Kohli','Dhoni','Pant','Shreyas','Karthik','Ashwin'],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'score':[19,16,15,10,14.5,20,18.2,20.5,18,16.3]}
df5 = pd.DataFrame(exam_data,index = range(1,11))
print(df5[(df5.score >15) & (df5.attempts <2)])

       name  attempts  score
1       Rob         1   19.0
7      Pant         1   18.2
8   Shreyas         1   20.5
10   Ashwin         1   16.3

## Write a Python program to append a new row 'k' to Data Frame with given values for each column. Now delete the new row and return the original data frame.

In [65]:
def appendNewRow(data):
    df_val = pd.DataFrame(exam_data)
    df_val = df_val.append(data,ignore_index=True)
    return df_val
def deleteNewRow(df6):
    deleted_row = df6.drop(df6.index[df6['name'] == 'Devdutt Padikkal'])
    return deleted_row

added_row_df = appendNewRow({'name':'Devdutt Padikkal','attempts':1,'score':100})   
print('Added new record.....')
print(added_row_df)
print('Original data frame is.....')
df7 = deleteNewRow(added_row_df)
print(df7)

Added new record.....
                name  attempts  score
0                Rob         1   19.0
1               Jill         3   16.0
2              Carol         2   15.0
3               John         3   10.0
4              Kohli         2   14.5
5              Dhoni         3   20.0
6               Pant         1   18.2
7            Shreyas         1   20.5
8            Karthik         2   18.0
9             Ashwin         1   16.3
10  Devdutt Padikkal         1  100.0
Original data frame is.....
      name  attempts  score
0      Rob         1   19.0
1     Jill         3   16.0
2    Carol         2   15.0
3     John         3   10.0
4    Kohli         2   14.5
5    Dhoni         3   20.0
6     Pant         1   18.2
7  Shreyas         1   20.5
8  Karthik         2   18.0
9   Ashwin         1   16.3

## Write a Python program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order

In [74]:
# Sorting Data frame in Descending order
print('Sorting based on name in descending order......')
print(added_row_df.sort_values('name',ascending=False))
# Sorting in ascending order based on score
print('Sorting based on score in ascending order.....')
print(added_row_df.sort_values('score',ascending=True))

Sorting based on name in descending order......
                name  attempts  score
7            Shreyas         1   20.5
0                Rob         1   19.0
6               Pant         1   18.2
4              Kohli         2   14.5
8            Karthik         2   18.0
3               John         3   10.0
1               Jill         3   16.0
5              Dhoni         3   20.0
10  Devdutt Padikkal         1  100.0
2              Carol         2   15.0
9             Ashwin         1   16.3
Sorting based on score in ascending order.....
                name  attempts  score
3               John         3   10.0
4              Kohli         2   14.5
2              Carol         2   15.0
1               Jill         3   16.0
9             Ashwin         1   16.3
8            Karthik         2   18.0
6               Pant         1   18.2
0                Rob         1   19.0
5              Dhoni         3   20.0
7            Shreyas         1   20.5
10  Devdutt Padikkal         1  100.0

## Write a Python program to insert a new column in existing Data Frame.

In [77]:
strike_rate =[143.50,200,120,100,150.34,200.67,123,126.29,179,192.23,189.32]
added_row_df['strike_rate'] = strike_rate
print(added_row_df)

                name  attempts  score  strike_rate
0                Rob         1   19.0       143.50
1               Jill         3   16.0       200.00
2              Carol         2   15.0       120.00
3               John         3   10.0       100.00
4              Kohli         2   14.5       150.34
5              Dhoni         3   20.0       200.67
6               Pant         1   18.2       123.00
7            Shreyas         1   20.5       126.29
8            Karthik         2   18.0       179.00
9             Ashwin         1   16.3       192.23
10  Devdutt Padikkal         1  100.0       189.32

## Write a Python program to change the name 'John' to 'Suresh' in name column of the data frame

In [96]:
df10 = added_row_df.copy()
df10 = df10.replace('John','Suresh')
print(df10)

                name  attempts  score  strike_rate
0                Rob         1   19.0       143.50
1               Jill         3   16.0       200.00
2              Carol         2   15.0       120.00
3             Suresh         3   10.0       100.00
4              Kohli         2   14.5       150.34
5              Dhoni         3   20.0       200.67
6               Pant         1   18.2       123.00
7            Shreyas         1   20.5       126.29
8            Karthik         2   18.0       179.00
9             Ashwin         1   16.3       192.23
10  Devdutt Padikkal         1  100.0       189.32